.nav-item {
    margin-right: 1rem !important;
    letter-spacing: 2px !important;
    padding: 1rem !important;
}


.nav-item:hover {
    background: lavender !important;
    border-radius: 1rem !important;
    font-weight: bold !important;
    /* color: white; */
}

.nav-item a {
    color: black;
    text-decoration: none !important;
}

.nav-item a:hover {
    color: black;
    /* font-weight: bold !important; */
}

